<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - React Kanban example</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()
    @*<script src="~/Scripts/vendor.js"></script>*@
    <script type="text/javascript">
        self._babelPolyfill = false;    //HACK: see http://stackoverflow.com/a/36672020/1434764
    </script>
    <script src="~/Scripts/bundle.js"></script>
</body>
</html>